<body>
  <nav>
    <div class="row">
      <div class='small-6 columns logo'>
        <%= image_tag("logo.png") %>
      </div>
      <div class='small-5 meduim-4 columns top-number'>
        1.800.774.7085
      </div>
    </div>
  </nav>
  <div class="font-title">
    Advanced Inventory 
    </br> 
    Managment Software
  </div>
  <div>
    <%= image_tag("laptop.gif") %>
  </div>
  <div>
  </div>
</body>