/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body, footer {
  font-family: 'Open Sans', sans-serif;
 }
 ul {
  list-style-type: none;
  margin:.3em;
}
.laptop {
  margin: 0 .3em;
}
.bold{
font-weight: bolder;
font-weight: 900;
margin-left: .6em;
}
.font-title {
color:#04518c;
text-align: center;
font-size: 30px;
margin:25px 0 50px;

}
 .left {
  float: left; 
}
.right {
  float: right
}
.logo{
    margin-top: .5em;
}
.top-number{
  font-weight: bold;
  font-size: 20px;
  margin-top: 1em;
}
.ul-title {
  margin: 0 .3em;
  /*font-size: 1.2em;*/
}

@media screen and (max-width: 520px) {
  .top-number {
    /*margin-right: 1.1em;*/
      text-decoration: underline;
  }
}
@media all and (max-width: 1024px) and (min-width: 520px) {
  .font-title { 
  font-size: 26px;
  text-align: left;
  }
}
/*form styling*/
form {
  padding: 0 .5em;
  margin-right: .1em;
  margin-left: .1em;
  background-color: lightgrey;
}
.form_title {
  font-size: 1.6em;
}
input[type="text"] {
border-radius: 10px;
}
form select {
  border-radius: 10px;
}
.medium-3.columns {
  margin-right: 3em;
}
hr {
  margin-bottom: 0;
  border-color: #eb1c24;
  border-width: .2em;
}
a.button.radius.small-12.columns {
  background-color: #eb1c24;
  font-size: 1.4rem;
}
button.radius, .button.radius {
border-radius: 10px;
}
footer {
  margin: 4em;
  text-align: center;
}